.tabuleiro {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin: 10px auto;
    width: 100px;
  }

  .celula {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    cursor: pointer;
  }

  .celula:hover {
    background-color: #8a8989;
  }

  